.typewriter h1 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: #fff; 
  font-size: 10em;
  text-shadow: 0 0 0.1em #000;
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

